@font-face {
    font-family: 'Inter' ;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

:root {
    --green: hsl(75, 94%, 57%);
    --light-grey:hsl(0, 0%, 20%);
    --grey:hsl(0, 0%, 12%);
    --dark-grey: hsl(0, 0%, 8%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size:16px;
    font-weight:400;
    height:100vh;
    color:white;
    background-color: var(--dark-grey);
}

main {
    height:100%;
    display: grid;
    place-items: center;
}

footer {
    position: fixed;
    bottom:0;
    left: 0;
    width:100%;
    padding:1rem
}

.font-weight-md {
    font-weight: 600;
}

.font-weight-bold {
    font-weight:700
}

.font-size-sm {
    font-size:0.875rem;
}

.text-green {
    color: var(--green)
}

.social-card {
    background-color: var(--grey);
    padding:1.5rem;
    border-radius: 10px;
    width:90%;
    max-width:24rem;
}

.social-card__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-card__img {
    border-radius: 100%;
    width:6rem;
    margin:2rem
}


.social-card__list {
    list-style-type: none;
    padding:0;
    margin:0;
    text-align: center;
}

.social-card__list-item {
    margin:1rem 0.5rem;  
}

.social-card__link {
    display: block;
    text-decoration:none;
    color:white;
    padding:.75rem;
    border-radius: 10px;
    background-color: var(--light-grey);
}

.social-card__link:hover {
    background-color: var(--green);
    color:var(--dark-grey);
}

.social-card__description {
    margin: 1rem  0.5rem 0.5rem;
}


